.log{
    color: black;
}
.warn{
    color: orange;
}
.error{
    color: red;
}
.fatal{
    color:black;
    background-color: red;
}

.console-window{
    overflow: auto
}

#console{
    padding-bottom: 10px;
}